
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMedallaLabel" data-translate="atletaMedallaApp.medalla.home.createOrEditLabel">Create or edit a Medalla</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.medalla.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.medalla.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="atletaMedallaApp.medalla.tipoMedalla" for="field_tipoMedalla">Tipo Medalla</label>
            <select class="form-control" name="tipoMedalla" ng-model="vm.medalla.tipoMedalla" id="field_tipoMedalla" required>
                <option value="ORO" data-translate="atletaMedallaApp.TipoMedalla.ORO">ORO</option>
                <option value="PLATA" data-translate="atletaMedallaApp.TipoMedalla.PLATA">PLATA</option>
                <option value="BRONCE" data-translate="atletaMedallaApp.TipoMedalla.BRONCE">BRONCE</option>
            </select>
            <div ng-show="editForm.tipoMedalla.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipoMedalla.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="atletaMedallaApp.medalla.especialidad" for="field_especialidad">Especialidad</label>
            <input type="text" class="form-control" name="especialidad" id="field_especialidad"
                    ng-model="vm.medalla.especialidad"
                    required />
            <div ng-show="editForm.especialidad.$invalid">
                <p class="help-block"
                    ng-show="editForm.especialidad.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="atletaMedallaApp.medalla.competicion" for="field_competicion">Competicion</label>
            <input type="text" class="form-control" name="competicion" id="field_competicion"
                    ng-model="vm.medalla.competicion"
                    required />
            <div ng-show="editForm.competicion.$invalid">
                <p class="help-block"
                    ng-show="editForm.competicion.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="atletaMedallaApp.medalla.atleta" for="field_atleta">Atleta</label>
            <select class="form-control" id="field_atleta" name="atleta" ng-model="vm.medalla.atleta" ng-options="atleta as atleta.id for atleta in vm.atletas track by atleta.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
